<p id="notice"><%= notice %></p>

<h1>Upcoming IMI-Events</h1>

<p>
  <%= link_to 'alle zeigen', events_path, id: cat_to_id(:all) %>
  <% @categories.each do | category | %>
  <%= link_to category.name, events_path(category: category), id: cat_to_id(category) %>
  <% end %>
</p>

  <div class="row marketing">
    <div class="col-lg-6">
      <% @events_left.each do | event | %>
      <h4><%= event.title %></h4>
      <p><%= event.date %>, <%= event.location %><br/>
      <%= event.description %></p>
      <% end %>
    </div>

    <div class="col-lg-6">
      <% @events_right.each do | event | %>
      <h4><%= event.title %></h4>
      <p><%= event.date %>, <%= event.location %><br/>
      <%= event.description %></p>
      <% end %>
    </div>
  </div>
