<p id="notice"><%= notice %></p>

<h1>Upcoming IMI-Events</h1>

<p>
  <% @tags.each do | tag | %>
  <%= link_to tag.name, events_path(tag: tag) %>
  <% end %>
</p>

  <div class="row marketing">
    <div class="col-lg-6">
      <% @events_left.each do | event | %>
      <h4><%= event.title %></h4>
      <p><%= event.date %>, <%= event.location %><br/>
      <%= event.description %></p>
      <% end %>
    </div>

    <div class="col-lg-6">
      <% @events_right.each do | event | %>
      <h4><%= event.title %></h4>
      <p><%= event.date %>, <%= event.location %><br/>
      <%= event.description %></p>
      <% end %>
    </div>
  </div>
