<p id="notice"><%= notice %></p>

<h1>Planned Events</h1>

<table >
  <tbody>
    <tr>
      <th colspan=2></th>

      <th>Date</th>
      <th>Room </th>
      <th>Announced</th>
      <th />
      <th colspan = "2"><%= link_to 'New Event', new_event_path %></th>

    </tr>
    <% @events.each do |event|
       planning_state = event.planning_state%>
      <tr id="event_<%= event.id %>">
        <td><%= event.date %></td>
        <td><%= event.title %></td>

        <% ['date_set','room_booked','announced'].each do | m | %>
          <td align = "center">
            <input type="checkbox"  id = "<%= checkbox_id(event,m)%>" <%= planning_state.send(m) ? "checked" : ""%> aria-label="Date: <%= planning_state.send(m) %>">
          </td>
        <% end %>
        <td><%= link_to 'Info', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
