<p id="notice"><%= notice %></p>

<h1>Planning States</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Date set</th>
      <th>Room booked</th>
      <th>Announced</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planning_states.each do |planning_state| %>
      <tr>
        <td><%= planning_state.event %></td>
        <td><%= planning_state.date_set %></td>
        <td><%= planning_state.room_booked %></td>
        <td><%= planning_state.announced %></td>
        <td><%= planning_state.notes %></td>
        <td><%= link_to 'Show', planning_state %></td>
        <td><%= link_to 'Edit', edit_planning_state_path(planning_state) %></td>
        <td><%= link_to 'Destroy', planning_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planning State', new_planning_state_path %>
