<p id="notice"><%= notice %></p>

<h1>Edit Categories</h1>

<%= form_tag({controller: "categories", action: "combine"}, method: :post) do  %>
<table class = "table table-striped table-hover table-sm">
<% @categories.each do |category| %>
  <tr id = "category_<%= category.id %>">
    <td><%= check_box_tag("category_ids[]",category.id) %></td>
    <td><%= category.name %></td>
  </tr>
  <% end %>
</table>
<%= submit_tag("Combine",id: :combine, class: "btn btn-primary") %>
<%= submit_tag("Delete",id: :delete, class: "btn btn-danger",data: { confirm: 'Are you sure?' }) %>
<% end %>
